<!DOCTYPE html>
<html lagn="en">
<head>
    <meta carset="UTF-8">
    <title>Comic books</title>
</head>
<body>
<h1>Comic Book Lists</h1>
<hr />
<table>
    <tr>
        <th>number</th>
        <th>genre</th>
        <th>name</th>
        <th>writer</th>
        <th>releasedate</th>
        <th>MODIFY</th>
        <th>DELETE</th>

    </tr>
    <% data.forEach(function (book, index) { %>
    <tr>
        <td><%= book.number %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>